#home {
    #listTache {
        margin-top: 30px;

        .card-header {
            div {
                display: inline-block;
                width: 49%;

                &:nth-child(2) {
                    text-align: right;

                    button {
                        width: 70px;
                        height: 36px;

                        img {
                            width: 20px;
                        }
                    }
                }
            }
        }

        .card-body {
            th:nth-child(1) {
                width: 25px;
            }
            th:nth-child(4) {
                width: 130px;
            }
            th:nth-child(5) {
                width: 215px;
            }

            tr :nth-child(5) {
                input {
                    margin: 0 5px;
                }
            }
        }
    }
}