<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://miiky.synology.me:32774/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">lolilol</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="show_sql">true</property>


        <!--validate: validate the schema, makes no changes to the database.-->
        <!--update: update the schema.-->
        <!--create: creates the schema, destroying previous data.-->
        <!--create-drop: drop the schema when the SessionFactory is closed explicitly, typically when the application is stopped.-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="fr.esgi.dto.Priorite"/>
        <mapping class="fr.esgi.dto.Tache"/>
    </session-factory>
</hibernate-configuration>